:root {
    --color-1: #3498db;
}

h1 {
    text-align: center;
    color: var(--color-1);
}

#MRU {
    text-align: center;
}

#container {
    width: 90vw;
    height: 600px;
    margin: 20px auto;
}