:root {
    --color-blue: #3498db;
    --color-white: #ffffff;
    --color-black: #000;
    --color-background: #ffffffa0;
}

body {
    background-color: var(--color-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

#nav-menu {
    width: 100%;
    display: absolute;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-blue);
}

#nav-menu #title{
    color: var(--color-white);
    padding-left: 80px;
    text-align: left;
    width: 100%;
}

#nav-menu #ul-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 80px; 
    font-size: 20px;
}

#nav-menu #ul-menu .li-menu{
    border-radius: 10px;
    color: var(--color-white);
    list-style-type: none;
    margin: 0px 15px;
    padding: 20px;
    transition: .8s background;
}

#nav-menu #ul-menu .li-menu:hover{
    background-color: var(--color-white);
    color: var(--color-blue);
    cursor: pointer;
}

#nav-menu #ul-menu #sections-ul{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    transition: .8s background;
}

#nav-menu #ul-menu #sections-ul #section-ul__div{
    display: inline-block;
    position: absolute;
    color: var(--color-black);
    border-radius: 5px;
    background-color: var(--color-white);
    margin: 25px 20px;
    border: 1px solid var(--color-blue);
    cursor: pointer;
    visibility: hidden;
    padding: 5px;
    border-radius: 10px;
}

#nav-menu #ul-menu #sections-ul  #section-ul__div .li-sections{
    list-style-type: none;
}

#nav-menu #ul-menu #sections-ul  #section-ul__div .li-sections a{
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-black);
    padding: 1px 5px;
}

#nav-menu #ul-menu #sections-ul  #section-ul__div .li-sections a:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}

#nav-menu #ul-menu #sections-ul:hover{
    background-color: var(--color-white);
    color: var(--color-blue);
}


#nav-menu #ul-menu #sections-ul:hover > #section-ul__div {
    transition: .8s visibility;
    visibility: visible;

}

/* --- Section 1 --- */

.section{
    width: 98.6vw;
    height: 100vh;
    z-index: 1;
}

.container-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 100px;
    flex-wrap: nowrap;
    margin: 0px auto;
    align-items: center;
}

.container-main .main-element:nth-child(1){
    flex-grow: 2;
    padding: 40px;
}

.container-main .main-element:nth-child(1) h2{
    font-size: 40px;
    color: var(--color-blue);
    padding-bottom: 30px;
    display: block;
    padding-left: 30px;
    font-weight: 999;
}

.container-main .main-element:nth-child(1) p{
    font-size: 22px;
    display: block;
}

.container-main .main-element:nth-child(1) button{
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 999;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    transition: .7s background;
}

.container-main .main-element:nth-child(1) button a{
    text-decoration: none;
    color: var(--color-white);
}

.container-main .main-element:nth-child(1) button:hover{
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    cursor: pointer;
}

.container-main .main-element:nth-child(1) button:hover > a{
    color: var(--color-blue);
}

.container-main .main-element:nth-child(2) {
}

.container-main .main-element:nth-child(2) img {
}

/* --- Section 2 --- */



#container-section2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: nowrap;
    margin: 0px auto;
    align-items: center;
    background-image: url('imgs/city.jpg');
}


#container-section2 .section-2__div:nth-child(1){
    display: grid;
    height: 80%;
    width: 100%;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 33.3%);
}

#container-section2 .section-2__div:nth-child(1) h2{
    display: flex;
    grid-column: 1/6;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: var(--color-white);
    font-weight: 999;
    padding-top: 30px;
    text-shadow: 1px 1px 1px black;
}

#container-section2 .section-2__div:nth-child(1) #section-2__div-inputs{
    display: flex;
    grid-column: 1/6;
}

#container-section2 .section-2__div:nth-child(1) #section-2__div-inputs .section2-inputs{
    margin: 5PX;
    height: 30px;
    width: 20%;
    padding-left: 10px;
}

#container-section2 .section-2__div:nth-child(1) #section-2__div-inputs #section2-button{
    margin: 5PX;
    height: 30px;
    width: 20%;
    text-align: center;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    transition: .8s background;
}

#container-section2 .section-2__div:nth-child(1) #section-2__div-inputs #section2-button:hover{
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    cursor: pointer;
}

#container-section2 .section-2__div:nth-child(1) #section-2__div-img{
    display: flex;
    position: relative;
    top: 70px;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    grid-column: 1/6;
    grid-row: 3/3;
}

#container-section2 .section-2__div:nth-child(1) img{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100%;
}

@keyframes animation_car1 {
    0%     {left: 0}
    100%   {left: 84%}
}

#container-section2 .section-2__div:nth-child(2){
    display: flex;
    flex-direction: row;
    background-image: url('imgs/street.webp');
    height: 20%;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    color: var(--color-white);
}

#container-section2 .section-2__div:nth-child(2) div{
    width: 10%;
    height: 30px;
    background-color: var(--color-white);
    
}

/* --- Responsive Design --- */

/* @media (max-width: 1200px) {
    .container-main{
        flex-direction: column;
    }
} */